@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700;900&family=Open+Sans:wght@400;600&display=swap');


@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
 /* font-family: Arial, Helvetica, sans-serif;*/
}

/*
main {
  padding-top: 80px; 
}
*/
aside {
  padding-top: 80px; /* match header height */
  background-color: whitesmoke;
}






.mobile-only {
  display: none;
}

@media (max-width: 768px) {
  .mobile-only {
    display: block;
  }
}

/* Ad Banner - just scrolls away normally */
.ad-banner {
  width: 100%;
  background-color: #f7f7f7;
  padding: 1rem 0;
  text-align: center;
  z-index: 10;
  height:250px;
}

/* Sticky Header */
.sticky-header {
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: white;
  box-shadow: 0 2px 4px rgba(0,0,0,0.05);
}

/* Optional: spacing between sections */
main {
  padding-top: 1rem;
}
